/* Customizing styles in the whole application */

.dataTables_wrapper
.dataTables_paginate
.paginate_button { 
    padding: 0px !important;
    margin-left: 0px !important;
}

.dataTables_wrapper > .row {
    margin: 0.5rem;
}

.dataTable {
   border: none !important;
}

table.dataTable tbody th, table.dataTable tbody td {
   padding: 0.8rem !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    border-bottom: 1px solid rgb(163, 163, 163) !important;
}

.dataTables_filter input { border-radius: 5px; padding: 0.2rem;  }

.dataTables_processing {
    background-color: transparent !important;
}