/* Customizing styles in the whole application */

.dataTables_wrapper
.dataTables_paginate
.paginate_button { 
    padding: 0px !important;
    margin-left: 0px !important;
}

.dataTables_wrapper > .row {
    margin: 0.5rem;
}

.dataTable {
   border: none !important;
}

table.dataTable tbody th, table.dataTable tbody td {
   padding: 0.8rem !important;
}

table.dataTable tbody th, table.dataTable tbody td {
    border-bottom: 1px solid rgb(163, 163, 163) !important;
}

.dataTables_filter input { border-radius: 5px; padding: 0.2rem;  }

.dataTables_processing {
    background-color: transparent !important;
}

/* Style for seclect2 */

.select2-container--default .select2-selection--single {
    background-color: rgb(17 24 39 / 2%) !important;
    border: 1px solid rgb(17 24 39 / 20%) !important;
    border-radius: 0.5rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444 !important;
    line-height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
    top: 1px !important;
    right: 10px !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
}


.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #362d2d !important;
    font-size: 0.875rem !important;
}

/* custom styles */

li.active {
    a {
        border-radius: 0.5rem;
        color: white;
        background-color: rgb(81 45 168 / var(--tw-bg-opacity));
    }
}